blockquote {
    border-left: 4px solid #EA9215;
    padding-left: 10px;
    margin: 20px;
  }

blockquote p {
    font-size: 22px;
    text-indent: 0;
}

p {
    text-indent: 20px; 
  }

a {
    text-decoration: underline;
}
a:hover {
    color: #a46712;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
em {
    margin-top: 20px;
}

code {
    font-family: "Nokia Pure Headline Bold", "Inter", sans-serif;
    font-style: italic;
    padding-top: 4em;
    color: #EA9215;
}